body {
  margin: 0;
}
p {
  margin: 1vw;
}
.top-pic {
  width: 100%;
  height: 33%;
	background-size: cover;
	background-position: center;
  display: inline-block;
}
.profile {
  width: 90%; 
  height: auto;
  display: inline-block;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 5%;
  padding-right: 5%;
	border-bottom-color: #bdbdbd;
	border-bottom-style: solid;
	border-bottom-width: 0.3vw;
}
.grid {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: repeat(4,20%);
}
.pic-grid {
  display: grid;
  width: 97%;
	height: 99%;
  padding: 1vw;
	grid-template-columns: 50% 50%;
  grid-gap: 1vw;
}
.com-grid {
  display: grid;
  width: 97%;
	height: 99%;
  padding: 1vw;
	grid-template-rows: 10% 90%;
  grid-gap: 1vw;
}

body {
	padding: 0;
	margin: 0 auto;
	background: #fff;
}

.clearfix {
	clear: both;
}

h1, p, textarea, li, button {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

header {
	min-height: 100px;
}

header h1 {
	font-size: 150%;
	font-weight: 600;
	line-height: 400%;
	text-align: center;
}



/**********************************************************/
/* comment section */

section {
	width: 400px;
	margin: 0 auto;
}

section textarea {
	width: 100%;
	height: 70px;
	resize: vertical;
	margin-bottom: 20px;
	border: 1px solid #BBBBBB;
}

section button {
	border: 0;
	width:	30%;
	color: #fff;
	height: 35px;
	float: right;
	cursor: pointer;
	background-color: #0EBFE9;
}

section button:disabled {
	background-color: #d3d3d3 ;
}

section ul {
	list-style: none;
}

section ul li {
	padding: 10px 10px;
  word-wrap: break-word;
	border-bottom: 3px solid #BBBBBB;
}

#imgs {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 400px;
}

.comments {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 300px;
}