body {
	margin: 0;
  overflow: hidden;
}
p {
  margin: 2vw;
  font-family: "Segoe UI","微軟正黑體",sans-serif;
}
.n-score{display:none;}
.bg-top {
	width: 100vw;
	position: absolute;
	bottom: -1.1vw;
	z-index: 3;
  transform: scaleY(0.7);
}
.XXicon {
  position: absolute;
  z-index: 1;
  width: 5vw;
  padding: 6vw;
  right: 0;
}
.top-name, .topbar {
  font-weight: 900;
  font-size: 5vw;	
  padding: 3vw;
  text-align: center;
}
.topbar-grid {
  box-shadow: 0vw 0.8vw 1.6vw #00000038;
  display: grid;
  width: 100%;
  height: 9.5vw;
  grid-template-columns: repeat(3,12%);
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  font-size: 3.6vw;
  text-align: center;
  font-weight: 900;
}
.scroll-bar {
  width: 13.8vw;
  border-bottom-color: #ff8b2c;
  border-bottom-style: solid;
  border-bottom-width: 1.8vw;
  border-bottom-left-radius: 1.4vw;
  border-bottom-right-radius: 1.4vw;
  position: relative;
  left: 15vw;
}
.comment-container, .pic-container, .gps-container {
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}
.pic-container, .gps-container {display: none;}
.sub-container {
  width: 100%;
  height: 79%;
  overflow-y: auto;
  padding-bottom: 10%;
}
.cmt-sub-grid {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: 6vw 5vw auto;
  grid-gap: 1vw;
}
.c-grid {
	display: grid;
  grid-gap: 3%;
	grid-template-columns: 20% 77%;
	justify-items: center;
  height: auto;
  padding: 3vw;
}
.l-grid {
	display: grid;
  grid-gap: 3%;
	grid-template-columns: 20% 16% auto auto;
	align-items: center;
  height: auto;
  padding: 3vw;
  font-size: 4.5vw;
}
.c-border, .l-border {
  padding: 1vw;
  border-bottom-color: #bdbdbdc2;
  border-bottom-style: solid;
  border-bottom-width: 0.3vw;
}
.pic-grid {
  display: grid;
	grid-template-columns: repeat(3,33.1vw);
	width: 100%;
	grid-gap: 0.7vw;
  padding-top: 2vw;
}
.name-time {
	display: grid;
	grid-template-columns: 50% 50%;
	padding-right: 1vw;
}
.dogname {
  margin: 1vw;
  font-size: 4.5vw;
  font-weight: bold;
}
.dtime, .l-time {
  text-align: right;
  margin: 1vw;
  font-size: 4vw;
  color: #00000099;
}
.heart-grid {margin: 1vw; padding-top:1.5vw;}
.heart {width: 4%;}
.grid-photo { background-size: cover;}

.blur-white {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute; 
  z-index: 2;
}
.arrow {
  width: 14vw;
  padding: 1.3vw;
  top: 0;
  position: absolute;
  z-index: 2;
}
.dog-name-pic {
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
  width: 95%;
  height: 16vw;
  padding-left: 5vw;
	border-top-style: solid;
	border-top-width: 0.2vw;
	border-top-color: #8080803b;
}
.dog-name p {
  font-weight: bold;
  font-size: 4.8vw;
}
.click-heart-grid {
	grid-template-columns: 6% auto;
	padding-top: 3vw;
	padding-left: 5vw;
	display: grid;
  align-items: center;
  grid-gap: 2%;
}
.click_photo { width:100%;}
#heart-count { font-size:4vw;}
#click-heart { width: 100%; display: none;}
#time{
	padding-top: 3vw;
	padding-left: 5vw;
  font-size: 4vw;
  color: #00000099;
  display: none;
}
.l-name {font-weight: bold;}
