body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.bar {
  position: absolute;
  width: 100vw;
  height: 5vw;
}
.bar-btn {
  padding: 1.7vw; 
  height: 1.6vw;
  position: absolute;
}
.bar-btn:hover {
  padding: 1.7vw; 
  height: 1.6vw;
  position: absolute;
  opacity: 0.5;
}
.container {
  position: absolute;
  width: 94vw;
  height: 46vw;
  padding: 3vw;
  top: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pic {
  position: relative;
  width: 14vw;
  height: 14vw;
}
.blur {
  position: absolute;
  width: 100vw;
  height: 52vw;
  top: 5vw;
  background-color: #00000073;
  display: none;
}
#dog {
  width: 90vw;
  position: absolute;
  top: 1.3vw;
  left: -100vw;
}
.big {
  position: absolute;
  width: 30vw;
  top: 12vw;
  left: 6vw;
  display: none;
}
.font {
  color: white;
  position: absolute;
  width: 32vw;
  top: 18vw;
  left: 37vw;
  display: none;
  font-size: 1.2vw;
}

.topmenu {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000004D;
  opacity: 1;
}

.topmenu a {
  float: right;
  display: block;
  margin: auto;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: normal normal normal 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000DE;
  opacity: 1;
}

.topmenu input{
  position: absolute;
  left: 40%;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

