body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container{
	position: absolute;
  width: 94vw;
  height: auto;
  top: 20vw;
  padding-left: 3vw;
  display: flex;
  justify-content: space-between;
}
.pic{
	position: relative;
	width: 14vw;
}
