body {
  margin: 0;
}

#map {
  width: 100vw;
  height: 100%;
  position: absolute;
}

.icon {
  width: 21.33vw;
  position: absolute;
}

#list-icon {
  left: 1.33vw;
  top: 1.33vw;
  z-index: 8;
}

#profile-icon {
  right: 1.33vw;
  top: 1.33vw;
  z-index: 6;
}

#search-icon {
  left: 1.33vw;
  bottom: 1.33vw;
  z-index: 6;
}

#mark-icon {
  right: 1.33vw;
  bottom: 1.33vw;
  z-index: 6;
}

.list-grid {
  position: absolute;
  background: white;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
  padding-top: 9%;
  padding-left: 7vw;
  width: 70vw;
  height: 95%;
  left: -77vw;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-rows: repeat(5, 16vw);
  z-index: 7;
} 
.icon-grid {
	display: grid;
	grid-template-columns: 10vw 20vw;
	grid-gap: 3vw;
	align-items: center;
	border-block-color: #bdbdbdc2;
	border-bottom-style: solid;
	border-width: 0.1vw;
  width: 100%;
  left: -7vw;
  padding-left: 7vw;
  position: relative;
}
.list-grid img{
  position: relative;
  width: 100%;
}

.list-grid p {
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 4.8vw;
	color: #9A9A9A;
  display: inline-block;
}

.profile {
  position: relative;
  display: none;
  width: 92.53vw;
  left: 105vw;
  top: 21.6vw;
  background: #FFFFFF;
  border-radius: 36px;
  z-index: 9;
}

.pg, .pg2 {
  width: 100%;
  padding-top: 10vw;
  padding-bottom: 10vw;
}
.pg2 {
  height: 100%;
  padding-top: 8vw;
  display: none;
}

#edit-btn {
  position: absolute;
  width: 7.49%;
  top: 34%;
  left: 59.07%;
}

.profile-avatar {
  position: relative;
	display: block;
  width: 34.3%;
  aspect-ratio: 1 / 1;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 5px solid #9441FF;
  object-fit: cover;
  object-position: 50% 50%;
}

#user-title {
	background: #9441FF;
	border-radius: 26.5px;
	margin-left: 40%;
	margin-right: 40%;
	margin-top:1%;
}
.username {
  margin: 3%;
  font-size: 4.8vw;
  text-align: center;
}
#user-title p {
  margin: 0;
  font-family: Noto Sans Telugu;
  font-style: normal;
  font-weight: 800;
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
  color: #FFFFFF;
}

#dog-3rd {
  position: absolute;
  width: 11.73vw;
  top: 62.66vw;
  left: 52.26vw;
}
#dog-2nd {
  position: absolute;
  width: 11.73vw;
  top: 62.66vw;
  right: 52.26vw;
}
#dog-1st {
  position: absolute;
  width: 16vw;
  top: 60vw;
  left: 38.13vw;
}
#icon-3rd {
  position: absolute;
  width: 3.46vw;
  height: 4vw;
  top: 76.26vw;
  left: 56vw;
}
#icon-2nd {
  position: absolute;
  width: 3.46vw;
  height: 4vw;
  top: 76.26vw;
  right: 56vw;
}
#icon-1st {
  position: absolute;
  width: 8vw;
  height: 6.93vw;
  top: 76.26vw;
  left: 42.13vw;
}

#user-contribution-grid {
  padding-top: 8vw;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: 5.06vw 9.33vw;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.contr-title {
  margin: 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 100;
  font-size: 3.46vw;
  line-height: 5.06vw;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.contr-num {
  margin: 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 300;
  font-size: 6.4vw;
  line-height: 9.33vw;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
#signout-btn {
    display: block;
    height: 8.8vw;
    width: 71.18%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 8vw;
    line-height: 8.8vw;
    font-size: 3.73vw;
    font-family: Segoe UI;
    font-weight: 600;
    text-align: center;
    color: #000000DD;
    border-radius: 4.8vw;
    border: 1px solid #00000060;
}

#user-name-title {
	display: inline-block;
	width: 100%;
	padding-left: 10%;
	font-family: Segoe UI;
  font-size: 3.5vw;
	color: #00000099;
  text-align: left;
	margin-bottom: 0.5vh;
}

.profile-upload-grid {
  display: grid;
  grid-template-columns: 38% 38%;
	justify-content: center;
  grid-gap: 7%;
}

.profile-upload-grid .upload-btn {
  font-weight: Regular;
  width: 100%;
  height: 8vw;
  border-radius: 5.3vw;
  box-shadow: 0vw 0.4vw 1.6vw #00000033;
}

.upload-btn .upload-pic {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 7vw auto;
  justify-content: center;
  align-items: center;
}

.upload-pic label {
	font-size: 3.3vw; 
}

p.avatar-title {
	display: inline-block;
  width: 100%;
  height: 3.58%;
  padding-left: 10%;
  font-family: Segoe UI;
  font-weight: Bold;
  font-size: 4.5vw;
  text-align: left;
	margin-top: 3.23%;
	margin-bottom: 3.07%;
}
#avatar-human-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 22vw);
  grid-gap: 4%;
  justify-content: center;
}

#avatar-dog-grid {
    width: 100%;
    height: 12.47%;
    left: 0%;
    display: grid;
    grid-template-columns: repeat(3,25.06vw);
    grid-template-rows: 100%;
    justify-content: space-evenly;
}

img.avatar-choose {
    width: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#edit-name {
    display: block;
    width: 80%;
    height: 4.65%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 1px solid black;
}

#save-btn, #cancel-btn {
  position: absolute;
  height: 5.31%;
  top: 3.17%;
  right: 2.66vw;
}


#signout-blur {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

#signout-container{
  position: relative;
  display: block;
  width: 84.8%;
  height: 123px;
  top: calc(calc(100vh - 123px) / 2);
  margin-left: auto;
  margin-right: auto;

  border-radius: 36px;
  background-color: #FFFFFF;
}

#signout-container p{
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Segoe UI;
  font-weight: 600;
}

#signout-ask {
  top: 21px;
  height: 21px;
  line-height: 21px;
  font-size: 14px;
}

#signout-btn-grid {
  position: absolute;
  display: grid;
  height: 33px;
  width: 100%;
  top: 69px;
  grid-template-columns: 1fr 1fr;
}

#signout-btn-grid p {
  height: 31px;
  line-height: 31px;
  font-size: 12px;
}

#signout-confirm-btn {
  color: #000000DD;
  border: 1px solid #B8B8B8;
  border-radius: 18px;
  background-color: #FFFFFF; 
}

#signout-cancel-btn {
  color: #FFFFFF;
  border: 1px solid #BE6822;
  border-radius: 18px;
  background-color: #FF8B2C; 
}



.search {
  position: absolute;
  display: block;
  width: 92vw;
  height: 90vw;
  left: -92vw;
  bottom: 27vw;
  background-image: url('./image/dog_div_research.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.mark {
  position: absolute;
  display: block;
  width: 92vw;
  height: 90vw;
  right: -92vw;
  bottom: 27vw;
  
  background-image: url('./image/dog_div_research.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.button-grid {
  position: absolute;
  width: 45vw;
  height: 18vw;
  top: 0vw;
  left: 7vw;
  display: grid;
  grid-template-columns: 19vw 19vw;
  grid-template-rows: 9vw;
  justify-content: space-between;
  align-content: space-evenly;
}

.button-grid img{
  width: 19vw;
  position: absolute;
}

.search-grid {
  position: absolute;
  width: 100%;
  height: 60vw;
  top: 20vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-row-gap: 2vw;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow-y: auto;
}

.search-grid img{
  position: relative;
  width: 20vw;
}

.search-grid p{
  position: relative;
  font-size: 4vw;
  top: -1vh;
  text-align: center;
  margin: 0;
}

.mark-grid {
  position: absolute;
  width: 100%;
  height: 60vw;
  top: 20vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-row-gap: 2vw;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow-y: auto;
}

.mark-grid img{
  position: relative;
  width: 20vw;
}

.mark-grid p{
  position: relative;
  font-size: 4vw;
  top: -1vh;
  text-align: center;
  margin: 0;
}

#sg1 {
  grid-template-rows: 25vw 25vw 25vw;
}

#sg2 {
  grid-template-rows: 25vw 25vw;
}
#s2 {
  display: none;
}

#mg1 {
  grid-template-rows: 25vw 25vw 25vw;
}
#m1{
  display: none;
}

.mark-title{
  margin-left: 15px;
  padding-top: 5px;
  font-size: 5vw;
}

.mark_tip{
  position: absolute;
  top: -100vh;
  height: 100vh;
  width: 100vw;
  background-color: #b8b7b79f;
  z-index: 2;
}
.mark_tip p{
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 30vw;
}

.labels img{
  width: 14vw;
  height: 14vw;
  border-radius:50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.dog_markerinfo {
  display: none;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.dog_markerinfo_flex{
  display: flex;
  flex-direction: column;
  align-items: center;
	position: absolute;
  width: 74vw;
  height: 87vw;
  left: 13vw;
  top: 42vw;
  background: #FFFFFF;
  border-radius: 36px;
  z-index: 7;
}
.dog_markerinfo .name{
  margin-top: 3.2vw;
  margin-bottom: 1.9vw;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #8D8D8D;
}
.dog_markerinfo img{
  width: 4.5vw;
}
.dog_markerinfo .photo{
  margin-top: 2.38vw;
  width: 40vw;
}
.dog_markerinfo .btn_navigation{
  position: absolute;
  top: 57vw;
  left: 9vw;
  width: 16vw;
}
.dog_markerinfo .btn_marked{
  position: absolute;
  top: 65vw;
  width: 16vw;
}
.dog_markerinfo .btn_detail{
  position: absolute;
  top: 57vw;
  right: 9vw;
  width: 16vw;
}
.dog_markerinfo .time{
  position: absolute;
  width: 27.2vw;
  top: 34vw;
  left: 36.4vw;
  background: #FFFFFF;
  border-radius: 16px;
  z-index: 5;
  text-align: center;
}
.time p{
  font-size: 24px;
  margin-top: 1.6vw;
  margin-bottom: 2.4vw;
  font-weight: 700;
}

.dog_markedmode {
  display: none;
  position: relative;
  height: 100vh;
  width: 100vw;
  pointer-events:none;
  z-index: 5;
}
.dog_markedmode .btn_X{
  pointer-events:auto;
  position: absolute;
  width: 15vw;
  left: 42.5vw;
  top: 16vw;
}
.dog_markedmode .markeddog_photo{
  /* display: block; */
  position: absolute;
  width: 41vw;
  left: 29.5vw;
  top: 34vw;
}

.unlogin {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(134, 134, 134, 0.5);
  z-index: 10;
}

.login-container {
  display: block;
  position: relative;
  width: 92.8vw;
  height: 87.1vw;
  top: 25.61vh;
  margin: auto;
}

#google-login-describe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.g-signin2 {
  position: relative;
  display: block;
  width: 63.21%;
  height: 14.75%;
  top: 69.45%;
  margin: auto;
}

