body {
  margin: 0;
}

#map {
  width: 100vw;
  height: 100%;
  position: absolute;
}

.icon {
  width: 20vw;
  position: absolute;
}

#list-icon {
  left: 5vw;
  top: 5vw;
}

#messenger-icon {
  right: 5vw;
  top: 5vw;
}

#search-icon {
  left: 5vw;
  bottom: 5vw;
}

#mark-icon {
  right: 5vw;
  bottom: 5vw;
  z-index: 3;
}

.list-grid {
  position: absolute;
  width: 65vw;
  height: 65vw;
  left: -65vw;
  top: 22vw;
  background-image: url('./image/dog_div_list.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 25vw 25vw;
  grid-template-rows: 25vw 25vw;
  justify-content: space-evenly;
  align-content: space-evenly;
} 

.list-grid img{
  position: absolute;
  width: 25vw;
}

.search {
  position: absolute;
  display: block;
  width: 92vw;
  height: 90vw;
  left: -92vw;
  bottom: 27vw;
  background-image: url('./image/dog_div_research.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.mark {
  position: absolute;
  display: block;
  width: 92vw;
  height: 90vw;
  right: -92vw;
  bottom: 27vw;
  background-image: url('./image/dog_div_research.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.button-grid {
  position: absolute;
  width: 45vw;
  height: 18vw;
  top: 0vw;
  left: 7vw;
  display: grid;
  grid-template-columns: 19vw 19vw;
  grid-template-rows: 9vw;
  justify-content: space-between;
  align-content: space-evenly;
}

.button-grid img{
  width: 19vw;
  position: absolute;
}

.search-grid {
  position: absolute;
  width: 100%;
  height: 60vw;
  top: 20vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-row-gap: 2vw;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow-y: auto;
}

.search-grid img{
  position: relative;
  width: 20vw;
}

.search-grid p{
  position: relative;
  font-size: 4vw;
  top: -1vh;
  text-align: center;
  margin: 0;
}

.mark-grid {
  position: absolute;
  width: 100%;
  height: 60vw;
  top: 20vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-row-gap: 2vw;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow-y: auto;
}

.mark-grid img{
  position: relative;
  width: 20vw;
}

.mark-grid p{
  position: relative;
  font-size: 4vw;
  top: -1vh;
  text-align: center;
  margin: 0;
}

#sg1 {
  grid-template-rows: 25vw 25vw 25vw;
}

#sg2 {
  grid-template-rows: 25vw 25vw;
}
#s2 {
  display: none;
}

#mg1 {
  grid-template-rows: 25vw 25vw 25vw;
}

.mark_tip{
  position: relative;
  font-size: 10vw;
  font-weight: bold;
  top: -130vh;
  height: 100vh;
  text-align: center;
  color: white;
  padding-top: 30vw;
  background-color: #b8b7b79f;
  z-index: 2;
}