body {
  margin: 0;
  overflow: auto;
}
.grid-container {
  width: 100vw;
  height: 178vw;
  display: grid;
  grid-template-columns: 38vw 38vw;
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-content: center;
  overflow: scroll;
}
.grid-font {
  position: relative;
  display: flex;
  justify-content: center;
  top: -4vw;
  margin: 0;
  font-size: 3vw;
}
.blur {
  position: absolute;
  width: 100vw;
  height: 178vw;
  top: 0vw;
  background-color: #000000e0;
  display: none;
}
.big {
  position: absolute;
  width: 63vw;
  left: 50vw;
  transform: translateX(-50%);
  top: 25vw;
  display: none;
}
.font {
	color: white;
	width: 68vw;
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
	text-align: center;
	top: 85vw;
	font-size: 4vw;
	display: none;
}
